/BCS.class
/Candidate.class
/IRBallot.class
/OPLBallot.class
/Party.class
/Report.class
/TestBCS.class
/TestCandidate.class
/TestIRBallot.class
/TestOPLBallot.class
/TestParty.class
/TestReport.class
/TestRunner.class
/POBallot.class
/TestPO.class
